<ol class="breadcrumb">
  <li><a href="/" class="active">Home</a></li>
</ol>
<h2>Add todo item:</h2>
<form class="form-inline" action="/todo" method="post">
  <div class="form-group">
    <input type="text" class="form-control" name="task" placeholder="Todo item">
  </div>
  <button type="submit" class="btn btn-primary">
    Post
  </button>
</form>
<hr>
<div class="col-md-8">
  <article>
    <% @task.each do |t| %>
      <p><%= t["id"] %></p>
      <p><%= t["title"] %></p>
      <p><%= t["done"] %></p>
      <p><%= t["created_at"] %></p>
    <% end %>
  </article>
</div>
